$h1color: linear-gradient(30deg, #494949, #ebcc79);
$h1font: 'Lobster', cursive;

.banner {
  width: 13vw;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  background-color: #050505;
  overflow: hidden;
  h1 {
    background-image: $h1color;
    background-clip: text;
    color: transparent;
    font-size: 4vw;
    font-weight: bold;
    font-family: $h1font;
    transform: rotate(90de);
    height: 291px;
    width: 482px;
    transform: rotate(-90deg);
    margin-top: 10px;
    margin-right: 20px;
  }
}

.banner img{
  width: 27vw;
  height: auto;
  margin-left: -57px;
  opacity: 0.85;
}
