.banner {
  width: 15vw;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  background-color: black;
  overflow: hidden;
  position: relative;

}

// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
// }

.banner h2 {
  color: white;
  font-size: 54px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  margin: 0px;
  position: absolute;
}


.banner img{font-family: 'Lobster', cursive;

  width: 27vw;
  height: auto;
  margin-left: -57px;
}
