$h1color: linear-gradient(30deg, #0e0d0d, #ebcc79);
$h1font: 'Lobster', cursive;


.container{
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
}

.banner {
  width: 13vw;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  background-color: #050505;
  overflow: hidden;
  position: relative;
  h1 {
    background-image: $h1color;
    background-clip: text;
    color: transparent;
    font-size: 4vw;
    font-weight: bold;
    font-family: $h1font;
    transform: rotate(90de);
    height: 291px;
    width: 482px;
    transform: rotate(-90deg);
    margin-top: 10px;
    margin-right: 20px;
  }
}

.main-body {
  h1{
    background-image: $h1color;
    background-clip: text;
    color: transparent;
    font-size: 4vw;
    font-weight: bold;
    font-family: $h1font;
    margin-top: 24px;
    margin-left: 60px;
    height: 97px;
  }
}

// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
// }

// .banner h2 {
//   color: white;
//   font-size: 54px;
//   font-weight: bold;
//   font-family: 'Lobster', cursive;
//   margin: 0px;
//   position: absolute;
// }


.banner img{

  width: 27vw;
  height: auto;
  margin-left: -57px;
  opacity: 0.85;
}
