

// .cards-container {
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-gap: 16px;
//   justify-items: center;
//   grid-auto-flow: column;
// }

.bm-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  justify-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  position: relative;
}

.bms {
  width: 500px;
  height: 450px;
  border: none;
  text-decoration: none;
  background-color: rgb(3, 3, 3);
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.bms img {
  width: 100%;
  object-fit: cover;
  margin-left: 0;
  height: 250px;
  width: 100%;
}

.plus {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 0px 0px 0px 16px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 31px;
    color: white;
  }
}

.bms-text {
  padding: 8px 16px;
  a {
    color: white;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 12px;
  }
}

.card-text {
  padding: 8px;
  .cat:hover {
   color: #fcfbf8;
   text-shadow: #f8dc95 1px 0 10px;
  }
}
